.header {
  width: 100%;
  background-color: transparent; 
  box-shadow: none; 
  position: absolute; 
  top: 0;
  left: 0;
  z-index: 10; 
  padding: 12px 24px;
  display: flex;
  justify-content: center;
}

.header-inner {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-radius: 8px;
}


.logo-image:hover {
  opacity: 0.8;
  transform: scale(1.05);
  transition: all 0.2s ease;
}

.logo-image {
  height: 100px; 
  width: auto;
}

/* Navigation */
.header .nav-links {
  display: flex;
  gap: 30px; /* spacing between links */
}

.header .nav-links a {
  color: #fff;
  font-weight: 600;
  font-size: 1.1rem;
  position: relative;
  transition: color 0.2s ease;
  padding: 6px 15px;
  border-radius: 5px;
}

.header .nav-links a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: #e50914;
  transition: width 0.3s ease;
}

.header .nav-links a:hover {
  color: #e50914;
}

.header .nav-links a:hover::after {
  width: 100%;
}
